.indexTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
}

.bookWrapper {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bookList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
}

.bookListItem {
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  border: 1px solid black;
  font-size: 22px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 2px 12px -7px rgba(0, 0, 0, 1);
  transition: all 0.2s ease-in-out;
}

.bookListItem:hover {
  box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 1);
  border: 1.2px solid cornflowerblue;
  border-color: cornflowerblue;
  cursor: pointer;
}
